@* ReSharper disable once CheckNamespace *@
@namespace Andromeda
@inherits GslComponentBase

@if (!string.IsNullOrWhiteSpace(Label))
{
    <MudText Typo="Typo.h4">@Label</MudText>
}

@if (NoPaper)
{
    <div Class="tw:py-6 tw:px-2">
        <GslStack Class="@Class" Style="@Style" AdditionalAttributes="AdditionalAttributes" Gap="Gap">
            @ChildContent
        </GslStack>
    </div>
}
else
{
    <MudPaper Elevation="2" Class="tw:!py-6 tw:!px-6">
        <GslStack Class="@Class" Style="@Style" AdditionalAttributes="AdditionalAttributes" Gap="Gap">
            @ChildContent
        </GslStack>
    </MudPaper>
}