@page "/products/edit/{Id:guid}"
@page "/products/new"

@using Andromeda.Application.Shared.Products
@using Andromeda.Application.Shared.Products.Edit
@using Andromeda.Application.Shared.Products.Get

@inject IProductViewService ViewService
@inject IUiUtils UiUtils
@inject NavigationManager NavigationManager

<DeiEditForm OnValidSubmit="OnValidSubmitAsync" Model="_request" Validator="_validator">

    <GslPage Title="@Title" BackHref="@BackHref">
        <GslPageHeader/>
        <GslPageSection>
            <div class="tw:grid tw:grid-cols-1 tw:gap-4">
                <DeiTextField
                    @bind-Value="@_request.Name"
                    Label="Nome" Placeholder="Nome do produto"/>

                <DeiTextField
                    @bind-Value="@_request.Description"
                    Label="Descrição" Placeholder="Descrição do produto" Lines="4"/>

                <DeiProductCompositionsField @bind-Value="@_request.Compositions"/>

            </div>
        </GslPageSection>
        <GslPageCommandBar>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Salvar</MudButton>
        </GslPageCommandBar>
    </GslPage>

</DeiEditForm>

@code
{
    private const string BackHref = "/products";

    private readonly EditProductRequest _request = new();
    private readonly EditProductValidator _validator = new();

    private string Title => Id.HasValue ? "Editar Produto" : "Nova Produto";

    [Parameter] public Guid? Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            var product = await ViewService.GetAsync(new GetProductRequest { Id = Id.Value })
                .Use(UiUtils)
                .ShowError();

            _request.CopyFrom(product);
        }
    }

    private async Task OnValidSubmitAsync()
    {
        await ViewService
            .EditAsync(_request)
            .Use(UiUtils)
            .ShowBusy(Id.HasValue ? "Gravando alterações..." : "Salvando novo produto...")
            .ShowError()
            .ShowSuccess("Produto salvo com sucesso!");

        NavigationManager.NavigateTo(BackHref);
    }
}